# Data Files
data/*
!data/.gitkeep
!data/ROOTID.csv

# Explicitly ignore raw data
raw.csv
data/raw.csv
*.csv
*.xlsx

# Output Files
output/*
!output/.gitkeep
*.RData
*.rds

# R Environment
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history

# Session Data
.RDataTmp
*.Rout

# Microsoft Office
~$*.xlsx

# Logs
log/

# System
Thumbs.db
